@import url('https://fonts.googleapis.com/css?family=Inter');


.FeedCard {
    display: flex;
    justify-content: space-between;
    padding: 45px 0px 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.FeedCard .feed-img {
    width: 265px;
    height: 265px;
    border-radius: 4px;
}

.FeedCard .leftCard {
    display: flex;
    flex-direction: column;
}

.author {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 51px;
}

.authorsName,
.topicsName {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    line-height: 18px;
}

.greyWords {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}

.topicTittle {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 24px;
}

.topicItself {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 76px;
}

.share {
    display: flex;
    justify-content: space-between;
}

.shareLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.button {
    padding: 6px 16px;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.12), rgba(8, 30, 52, 0.12)), #FFFBFE;
    border-radius: 100px;
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #081E34;
}

.shareTitle {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}

.share-icons {
    margin-top: 3px;
}

.share-icons .share-img {
    margin-left: 14px;
}
